@model CategoryModel

<form method="post">
    <div class="row">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-error"></span>
        <label asp-for="DisplayName"></label>
        <input asp-for="DisplayName" type="text" class="form-control" />
        <span asp-validation-for="DisplayName" class="text-error"></span>
    </div>
    <button type="submit">Update Category</button>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}